#dft{
    position:fixed;
    margin-left: 93%;
}
#login-box{
    background:white;
    color:white;
    width: 300px;
    height: 200px;
    z-index:999;
    position:fixed;
    left:600px;
    top:50px;
    border: 2px solid #C0C0C0;
    background-color: rgba(0,0,0,0.5);
}
#i1{
    text-decoration:none;
}
#div1{
    margin-left: 30px;
    width:150px;
    height:200px
}
#div2{
    margin-right: 30px;
    width:750px;
    height:280px
}
.d1{
    width:800px;
    height:300px;
}
#h1{
    line-height: 50px;
    margin-bottom: -10px;
}
#dl{
    margin-top: 180px;
}
#dl1{
    margin-top: -30px;
}
#at1{
    text-decoration:none;
    font-weight: bold;
    color: #C0C0C0;
}
.ha{
    text-decoration:none;
    color: gray;
    text-indent:2em;
}
.ha1{
    text-decoration:none;
}
#tz{
    margin-top: 10px;
    color: black;
}
table {
    border-collapse:collapse;
}

table td:nth-child(odd){
    background: white;
}
table td:nth-child(even){
    background: white;
}
#uid{
    color: blue;
}
#hf1{
    color: blue;
    text-decoration:none;
    cursor:pointer;
}
#hfid{
    width:100%;
    bottom:0;
    z-index:999;
}
.lzl{
    display:block;
    border: 2px solid #C0C0C0;
    width:400px;
    height:100px;
    z-index:999;
    background: white;
    position:relative;
}
#divlzl{
    display:block;
    border: 2px solid #C0C0C0;
    width:400px;
    height:200px;
    z-index:999;
    background: white;
    overflow-x:hidden;
    overflow-y:auto;
    text-align:left;
}
#tt1{
}
/*兼容IE*/
.lzl{
    scrollbar-face-color: #20a774;/*移动滑块颜色*/
    scrollbar-shadow-color: #20a774;/*移动滑块边框颜色*/
    scrollbar-track-color: #ccc;/*背景颜色*/
    scrollbar-arrow-color: #ddd;/*箭头颜色*/
}
.lzl::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #ccc;
}/* 滚动条的滑轨背景颜色 */
.lzl::-webkit-scrollbar
{
    width: 6px;
    background-color: #ccc;
}

.lzl::-webkit-scrollbar-thumb
{
    background-color: #20a774;
}/* 滑块颜色 */